body{
    background-color: white;
}
.humor3
{
    
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.humor1{
    margin: -300px;
    padding-left: 40px;
    

}
.humor2{
    margin: -800px;
    align-items: center;
    display: flex;
    max-width: 100%;
    max-height: 100%;

}